<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 gedf-main">
  <div class="card gedf-card">
    <div class="card-header">
        <h3>Respond to Your Friend Requests</h3>
    </div>
    <div class="card-body list-group">
        <% if @per_confirm_friends.count > 0 %>
            <% @per_confirm_friends.each do |request| %>
                <div class="list-group-item list-group-item-action">
                    <a href="/users/<%= request.id  %>" class= "d-flex">
                        <%= gravatar_tag  request.email, :size => 40, :html => { :class => "img rounded-circle" } %> 
                        <p class="mx-3">
                            <%= "#{ request.first_name} #{request.last_name} on #{request.created_at.to_time.strftime('%B %e at %l:%M %p')}" %>
                        </p>
                    </a>
                    <%= button_to 'Confirm', confirm_friend_url(id: request.id), class: "btn btn-warning float-right" %>
                </div>
            <% end %> 
        <% else %>
            <h4>No more friend request! Go and talk with your friends!</h4>
            <%= link_to posts_url do%>
                <%= image_tag("bullhorn.png", size: 64, alt: "timeline") %>
                Your timeline
            <% end %>
        <% end %>
    </div>
  </div>
  <div class="card gedf-card">
  <div class="card-header">
        <h3>People You May Know</h3>
    </div>
    <div class="card-body list-group">
        <% if @per_request_friends.count > 0 %>
            <% @per_request_friends.each do |user| %>
                <div class="list-group-item list-group-item-action">
                    <a href="/users/<%= user.id  %>" class= "d-flex">
                        <%= gravatar_tag  user.email, :size => 40, :html => { :class => "img rounded-circle" } %>
                        <p class="mx-3">
                            <%= "#{ user.first_name} #{user.last_name} on #{user.created_at.to_time.strftime('%B %e at %l:%M %p')} " %>
                        </p>
                    </a>
                </div>
            <% end %>
        <% else %>
            <h4>Invite Friends to our Platform!</h4>
        <% end %>
    </div>
  </div>
  </div>
  <div class="col-md-3">
  </div>
</div>