<div class="container emp-profile">
  <div class="row">
    <div class="col-md-3">
        <div class="profile-img">
            <%= gravatar_tag @user.email, :size => 200 %>
        </div>
    </div>
    <div class="col-md-7">
        <div class="profile-head">
          <h5>
              <%= "#{@user.first_name} #{@user.last_name}" %>
          </h5>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Friends</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
              </li>
          </ul>
        </div>
    </div>
    <div class="col-md-2">
      <% if current_user.id == @user.id %>
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
      <% else %>
        <% if @can_request %>
          <%= button_to 'Request friend', add_friend_path(id: @user.id), class: "btn btn-info" %>
        <% else %>
            <button class="btn btn-light disabled">✔ Request Sent</button>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="profile-work">
              <p>User Id: <b><%= @user.id%></b></p>
              <p>Email: </p>
              <p><b><%= @user.email%></b></p>
              <p>First Name</p>
              <p><b><%= @user.first_name %></b></p>
              <p>Last Name</p>
              <p><b><%= @user.last_name %></b></p>
              <p>Location</p>
              <p><b><%= @user.location %></b></p>
          </div>
      </div>
      <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <% if @user.friends.count > 0  %>
                  <div class="list-group">
                  <h3>Friends</h3>
                    <% @user.friends.each do |friend| %>
                      <% if friend != nil %>
                        <a href="/users/<%= friend.id  %>" class= "list-group-item list-group-item-action">
                          <%= gravatar_tag  friend.email, :size => 40, :html => { :class => "img-thumbnail rounded-circle" } %>
                          <%= "#{ friend.first_name} #{friend.last_name}" %>
                        </a> 
                      <% end %>
                    <% end %>
                  </div>
                <% else %>
                  <% if @user == current_user %>
                    <%= link_to search_friends_url(id: current_user.id), class:"link" do%>
                      <%= image_tag("search.png", size: 64, alt: "search") %>
                      Find Friends  
                    <% end %>
                  <% else %>
                    <% if @can_request %>
                      <%= button_to 'Request friend', add_friend_path(id: @user.id), class: "btn btn-info" %>
                    <% else %>
                      <button class="btn btn-light disabled">✔ Request Sent</button>
                    <% end %>
                  <% end %>
                <% end %>

                <% if current_user.id == @user.id && @user.friend_requests.count > 0  %>
                  <div class="list-group">
                  <h3>Pending Friends</h3>
                    <% @user.friend_requests.each do |friend| %>
                      <% if friend != nil %>
                        <div class="list-group-item list-group-item-action">
                          <a href="/users/<%= friend.id  %>" class="d-flex">
                            <%= gravatar_tag  friend.email, :size => 40, :html => { :class => "img-thumbnail rounded-circle" } %>
                            <%= "#{ friend.first_name} #{friend.last_name} at #{friend.created_at.to_time.strftime('%B %e at %l:%M %p')} " %>
                          </a>
                          <%= button_to 'Confirm', confirm_friend_url(id: friend.id), class: "btn btn-warning float-right" %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">  
                <% if @posts.count > 0 %>
                  <h4 class="text-info mt-2"><%= "#{@user.first_name}\'s posts" %></h4>
                  <div class="card-columns">
                    <% @posts.each do |post| %>
                    <div class="card">
                      <% if post.image_path.length > 0 %>
                        <%= link_to post do %>
                          <img class="card-img-top" src="<%= post.image_path%>" alt="image">
                        <% end %>
                      <% end %>
                      <div class="card-body">
                        <div class="float-right">
                            <% if current_user.id == @user.id %>
                              <div class="dropdown">
                                  <button class="btn dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      ⋮
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                      <div class="h6 dropdown-header">More</div>
                                      <%= link_to 'Edit', edit_post_path(post), class: "dropdown-item" %>
                                      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"dropdown-item" %>
                                  </div>
                              </div>
                            <% end %>
                          </div>
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i><%= post.updated_at.to_time.strftime('%B %e at %l:%M %p') %></div>
                        <p class="card-text"><%= post.body %></p>
                      </div>
                      <div class="card-footer d-flex">
                        <%= button_to like_post_url(user_id: current_user.id, id: post.id), class: 'btn round card-link' do%>
                            Likes: <%= image_tag("like.png", size: 28) %>
                            <sup class="card-link"><%= post.likes.from_post(post.id).count %></sup>
                          <% end %>

                          <%= link_to post, class: "btn round card-link" do %>
                            Comments: <%= image_tag("comments.png", size: 28, alt: "Comments") %>
                            <sup class="card-link"><%= post.comments.count %></sup>
                          <% end %>
                      </div>
                    </div>
                    <% end %>
                  </div>
                <% else %>
                  <% if @user == current_user %>
                    <h4 class="text-warning">Share with the world!:</h4>
                    <%= link_to new_post_path, class:"link" do%>
                      <%= image_tag("type.png", size: 64, alt: "search") %>
                      Create a Publication
                    <% end %>                
                  <% else %>
                    <h4 class="text-info">User have not post</h4>
                  <% end %>
                <% end %>
              </div>
          </div>
      </div>
  </div>        
</div>
