<p class="lead">Latest Posts</p>
<%= link_to 'Create New Post', new_post_path, class: "btn btn-block btn-outline-dark my-3" %>

<div class="card-columns">
   <% @posts.each do |post| %>
  <div class="card">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
      <!-- <h4 class="card-title">Title</h4> -->
      <p class="card-text"><%= post.body %></p>
    </div>
    <div class="card-footer">
<%= link_to 'Show', post %>
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
   <% end %>
</div>