<div class="container py-4">
<div class="card gedf-card">
      <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
              <%= link_to users_url(@post.user), class: "d-flex justify-content-between align-items-center" do%>
                <div class="mr-2">
                    <%= gravatar_tag @post.user.email, :size => 45, :html => { :class => "img rounded-circle" } %>
                </div>
                <div class="ml-2">
                    <div class="h5 m-0">
                      <%= "by #{@post.user.first_name} #{@post.user.last_name}" %>
                    </div>
                    <div class="h7 text-muted">
                      <%= "#{@post.user.email}" %>
                    </div>
                </div>
              <% end %>
              <div>
                  <div class="dropdown">
                      <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-h"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                          <div class="h6 dropdown-header">More</div>
                          <%= link_to 'Edit', edit_post_path(@post), class: "dropdown-item" %>
                          <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"dropdown-item" %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <% if @post.image_path %>
        <img class="card-img-top" src="<%= @post.image_path%>" alt="image">
      <% end %>
  <div class="card-body">
      <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i><%= @post.updated_at.to_time.strftime('%B %e at %l:%M %p') %></div>
      <p class="card-text">
          <%= @post.body %>
      </p>
      <div class="d-flex">
        <%= button_to like_post_url(user_id: current_user.id, id: @post.id), class: 'btn round card-link' do%>
            👍
            <sup class="card-link"><%= @post.likes.from_post(@post.id).count %></sup>
          <% end %>

          <%= link_to @post, class: "btn round card-link" do %>
            &#128172;
            <sup class="card-link"><%= @post.comments.count %></sup>
          <% end %>
      </div>
  </div>
  <div class="card-footer">
    <% if @post.comments %>
      <ul class="list-group list-group-flush">
        <% @post.comments.each do |comment| %>
          <li class="list-group-item">
          <%= gravatar_tag comment.user.email, :size => 28, :html => { :class => "img rounded-circle" } %>
          <strong><%= "#{comment.user.first_name} #{comment.user.last_name}" %></strong><br>
          <% if comment.image_path %>
            <img class="card-img-top" src="<%= comment.image_path%>" alt="image">
          <% end %>
          <%= comment.body%>
          <div class="float-right">
            <%= button_to like_comment_url(user_id: current_user.id, id: @post.id), class: 'btn round card-link' do%>
              👍
              <sup class="card-link"><%= @post.likes.from_post(@post.id).count %></sup>
            <% end %>
          </div>
          </li>
        <% end %>
      </ul> 
    <% else %>
      No
    <% end %>
  </div>
</div>
<%= link_to 'Back', posts_path %>
</div>
